{% extends 'sosna/base.html' %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
            {{ form.username.errors }}
            {{ form.password.errors }}
        </div>
    {% endif %}
    <form id="loginform" method="post" class="form-horizontal" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group has-feedback" id="logindiv">
            <label for="{{ form.username.id_for_label }}" class="control-label col-md-2">Login</label>

            <div class="col-md-6">
                {{ form.username }}
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="{{ form.passowrd.id_for_label }}" class="control-label col-md-2">Hasło</label>

            <div class="col-md-6">
                {{ form.password }}
            </div>
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-primary pull-right">Zaloguj</button>
        </div>
    </form>

{% endblock %}