{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
    <div id="content-main">

        <form action="" method="post">{% csrf_token %}
            <div>


                <fieldset class="module aligned wide">

                    <div class="form-row">
                        {{ form.old_password.errors }}
                        {{ form.old_password.label_tag }} {{ form.old_password }}
                    </div>

                    <div class="form-row">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                        {% if form.new_password1.help_text %}
                            <p class="help">{{ form.new_password1.help_text }}</p>
                        {% endif %}
                    </div>

                    <div class="form-row">
                        {{ form.new_password2.errors }}
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                        {% if form.new_password2.help_text %}
                            <p class="help">{{ form.new_password2.help_text }}</p>
                        {% endif %}
                    </div>

                </fieldset>

                <div class="submit-row">
                    <input type="submit" value="change password" class="default"/>
                </div>

                <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </div>
        </form>
    </div>

{% endblock %}
