{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <title>{% block title %}sosna{% endblock %}</title>
    <!-- Bootstrap -->
    <link id="themeCss" href="{% static "sosna/css/bootstrap.min.css" %}" rel="stylesheet">
    <link id="themeCss" href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "sosna/css/jquery-ui.css" %}">
    <script src="{% static "sosna/js/jquery.min.js" %}"></script>
    <script src="{% static "sosna/js/jquery-ui.js" %}"></script>
    <script src="{% static "sosna/js/bootstrap.min.js" %}"></script>
    <script src="{% static "sosna/js/js.cookie.js" %}"></script>
    <style>
        body {
            padding-top: 70px;
        }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <script type="text/javascript">
        var themesheet = $('#themeCss');
        var themeurl = Cookies.get('theme');
        if (typeof themeurl != 'undefined') {
            themesheet.attr('href', themeurl);
        }

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $(document).ajaxSend(function (event, xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
            }
        });
    </script>

    <script type="text/javascript">
        {% block custom_js %}{% endblock %}
    </script>
</head>
<body>
{% block navigation_bar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">sosna</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Motywy <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-theme="default" class="theme-link">Domyślny</a></li>
                            <li><a href="#" data-theme="cerulean" class="theme-link">Cerulean</a></li>
                            <li><a href="#" data-theme="cosmo" class="theme-link">Cosmo</a></li>
                            <li><a href="#" data-theme="cyborg" class="theme-link">Cyborg</a></li>
                            <li><a href="#" data-theme="flatly" class="theme-link">Flatly</a></li>
                            <li><a href="#" data-theme="journal" class="theme-link">Journal</a></li>
                            <li><a href="#" data-theme="readable" class="theme-link">Readable</a></li>
                            <li><a href="#" data-theme="simplex" class="theme-link">Simplex</a></li>
                            <li><a href="#" data-theme="slate" class="theme-link">Slate</a></li>
                            <li><a href="#" data-theme="spacelab" class="theme-link">Spacelab</a></li>
                            <li><a href="#" data-theme="united" class="theme-link">United</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                    class="glyphicon glyphicon-user"></span> {{ user.first_name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'edit_user_profile' %}">Zmień dane użytkownika</a></li>
                                <li><a href="{% url 'password_change' %}">Zmień hasło</a></li>
                                {% if user.is_superuser %}
                                    <li><a href="{% url 'manage_study_cycles' %}">Zarządzanie cyklami studiów</a></li>
                                    <li><a href="{% url 'locked_users_list' %}">Odblokowywanie użytkowników</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="{% url 'logout' %}?next=/"><span class="glyphicon glyphicon-log-out"></span>
                            Wyloguj</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}"><span
                                class="glyphicon glyphicon-log-in"></span>
                            Logowanie</a></li>
                    {% endif %}

                </ul>
            </div>

        </div>

    </nav>

    <script type="text/javascript">
        var themes = {
            "default": "{% static "sosna/css/bootstrap.min.css" %}",
            "cerulean": "{% static "sosna/css/cerulean/bootstrap.min.css" %}",
            "cosmo": "{% static "sosna/css/cosmo/bootstrap.min.css" %}",
            "cyborg": "{% static "sosna/css/cyborg/bootstrap.min.css" %}",
            "flatly": "{% static "sosna/css/flatly/bootstrap.min.css" %}",
            "journal": "{% static "sosna/css/journal/bootstrap.min.css" %}",
            "readable": "{% static "sosna/css/readable/bootstrap.min.css" %}",
            "simplex": "{% static "sosna/css/simplex/bootstrap.min.css" %}",
            "slate": "{% static "sosna/css/slate/bootstrap.min.css" %}",
            "spacelab": "{% static "sosna/css/spacelab/bootstrap.min.css" %}",
            "united": "{% static "sosna/css/united/bootstrap.min.css" %}"
        };
        $(function () {
            var themesheet = $('#themeCss');
            $('.theme-link').click(function () {
                var themeurl = themes[$(this).attr('data-theme')];
                themesheet.attr('href', themeurl);
                Cookies.set('theme', themeurl, {expires: 3650})
            });

        });
    </script>

{% endblock %}
<div class="container">
    {% block precontent %} {% endblock %}
    <div class="jumbotron">
        {% block content %}{% endblock %}
    </div>
</div>
</body>