{% extends "sosna/base.html" %}
{% block precontent %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    {% if not user.is_authenticated %}
        <p><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Zaloguj się</a></p>
        <p><a href="{% url 'password_reset' %}"><span class="glyphicon glyphicon-envelope"></span> Odzyskaj hasło</a>
        </p>
    {% else %}
    {% endif %}
{% endblock %}