{% extends "sosna/base.html" %}
{% block content %}
    <div id="content-main">
        <h2>Lista studentów do utworzenia cyklu studiów o nazwie: {{ view.study_cycle_name }}</h2>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'create_study_cycle_progress' %}"
              method="post">{% csrf_token %}
            <input name="study_cycle_name" type="hidden" value="{{ view.study_cycle_name }}"/>
        <table class="table table-striped">
            <thead>
            <tr>
                {% for column_num in form.columns %}
                    <th>Kolumna nr {{ column_num }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for column_chooser_field in form.column_chooser_fields %}
                    <th>{{ column_chooser_field }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for row in form.user_values_fields %}
                <tr>
                    {% for column in row %}
                        <td>{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}</tbody>
        </table>
            <input type="submit" value="Dodaj cykl studiów oraz studentów" class="default"/>
        </form>
    </div>

{% endblock %}
