{% extends "sosna/base.html" %}
{% load add_class %}
{% block content %}
    <div id="content-main">

        <div>
            {% if view.successed %}
                <p>Pomyślnie zaimportowano {{ view.successed.count }} użytkowników</p>
                <p>
                <ul>
                    {% for user in successed %}
                        <li>{{ user }}</li>
                    {% endfor %}
                </ul>
                </p>
            {% endif %}
            {% if view.failed %}
                <p>Nie udało się zaimportować {{ view.failed.count }} użytkowników</p>
                <p>
                <ul>
                    {% for user in failed %}
                        <li>{{ user }}</li>
                    {% endfor %}
                </ul>
                </p>
            {% endif %}
        </div>
    </div>

{% endblock %}
