{% extends "sosna/base.html" %}
{% load add_class %}
{% block content %}
    <div id="content-main">

        <form action="" method="post" class="form-horizontal">{% csrf_token %}
            <div>
                <fieldset class="module aligned wide">
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field|label_with_classes:'col-sm-2 control-label' }}
                            <div class="col-sm-10">
                                {{ field|add_class:'form-control' }}
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="submit" value="Zmień dane użytkownika" class="default"/>
                    </div>
                </div>

            </div>
        </form>
    </div>

{% endblock %}
