{% extends "sosna/base.html" %}
{% block content %}
    <div id="content-main">
        <table class="table table-striped">
            <thead>
            <th>Id użytkownika</th>
            <th></th>
            </thead>
            <tbody>
            {% for user in object_list %}
                <tr>
                    <td>{{ user.uid }}</td>
                    <td class="text-right"><a href="{% url 'unlock_user' %}?uid={{ user.dn|urlencode }}">Odblokuj
                        użytkownika</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
