{% extends "sosna/base.html" %}
{% load add_class %}
{% block content %}
    <div id="content-main">
        <a href="{% url 'add_study_cycle' %}" class="btn btn-primary">Dodaj cykl studiów</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Rok rozpoczęcia</th>
                <th>Rok zakończenia</th>
                <th>Kierunek</th>
                <th>Stopień</th>
                <th>Stacjonarność</th>
            </tr>
            </thead>

            <tbody>
            {% for study_cycle in object_list %}
                <tr>
                    <td>{{ study_cycle.start_years }}</td>
                    <td>{{ study_cycle.end_years }}</td>
                    <td>{{ study_cycle.degree_course }}</td>
                    <td>{{ study_cycle.course_cycle }}</td>
                    <td>{{ study_cycle.time_of_course }}</td>
                </tr>
            {% endfor %}</tbody>
        </table>
    </div>

{% endblock %}
